body {
    word-break: normal;
}

img {
    max-width: 100%;
}
img.header {
    max-width: 320px;
    width: 100%;
}

h1 {
    text-align: center;
}

ul.lists {
    list-style-type: none;
    padding: 0;
}
ul.lists li a {
    display: block;
    background-color: rgba(128, 128, 128, 0.05);
    padding: 8px 12px;
    line-height: 1.2em;
    text-decoration: none;
}
ul.lists li:nth-child(2n) a {
    background-color: rgba(128, 128, 128, 0.1);
}
ul.lists li a:hover {
    background-color: rgba(128, 128, 128, 0.2);
}
ul.lists li a span {
    font-size: 0.9em;
    font-weight: bold;
    opacity: 0.5;
}
