<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Delightful Lists{% endblock %}</title>
  <link rel="stylesheet" href="/simple.min.css?hash={{ cachebuster.get("simple.min.css") }}">
  <link rel="stylesheet" href="/styles.css?hash={{ cachebuster.get("styles.css") }}">
  <link rel="shortcut icon" href="/favicon.png" type="image/png">
  {% block head %}{% endblock %}
</head>

<body>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <p>
      Made with ❤️ by <a href="https://yarmo.eu">Yarmo</a>.<br>
      Source code: <a href="https://codeberg.org/yarmo/delightful-club">codeberg.org</a>. License: <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0-1.0</a>.
    </p>
  </footer>
</body>

</html>
