{% extends "base.html" %}

{% block content %}
<h1 class="title">
  <img src="/delightful-logo.png" alt="delightful, gems of freedom" class="header">
</h1>

<h2>Delightful lists</h2>

<ul class="lists">
  {% for list in lists -%}
  <li><a href="{{ list.to_slug() }}"><span>delightful</span> {{ list.to_short_name() }}</a></li>
  {% endfor %}
</ul>

{{ content|markdown }}
{% endblock %}
