{% extends "base.html" %}

{% block title %}{{ list.title }}{% endblock %}

{% block head %}
<meta property="og:title" content="{{ list.title }}" />
<meta property="og:description" content="Delightful curated lists of free software, open science and information sources." />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://delightful.club/{{ list.to_slug() }}" />
<meta property="og:image" content="https://delightful.club/delightful-logo.png" />
<meta name="twitter:card" content="summary_large_image"></meta>
<meta name="twitter:author" content="@humane_tech_now"></meta>
<meta name="twitter:dnt" content="on">
{% endblock %}

{% block content %}
<nav>
  <a href="/">Back to the index</a>
  <a href="{{ list.repository }}">Source repository</a>
</nav>

{{ content|markdown(options) }}
{% endblock %}
